In [270]:
import pandas as pd
import numpy as np

## Calculate the conditional probability of a player scoring more than 30 points given they are from "Team A" in game_scores.csv.

In [397]:
def conditional(dataset):
    df=pd.read_csv(dataset)
    is_team=df['team']=='Team A'
    total=np.sum(is_team)
    count = df[(df["team"] == "Team A") & (df["points_scored"] > 30)].shape[0]
    is_scor_30=is_team>30
    if(count>0):
        ans=count/total
    else:
        ans=0
    return ans

In [398]:
conditional('game_scores.csv')

0.24404761904761904

## Apply the total probability theorem to find the probability of having the disease in disease_data.csv, given the smoking status.

In [400]:
def disease(dataset):
    df=pd.read_csv(dataset)
    count = df[(df["smoker"] == 1) & (df["disease_present"]==1)].shape[0]
    count_smoker=df[(df["smoker"] == 1)].shape[0]
    prob_smoker=count_smoker/len(df)
    ans1=prob_smoker*(count/count_smoker)
    count = df[(df["smoker"] == 0) & (df["disease_present"]==1)].shape[0]
    count_smoker=df[(df["smoker"] == 0)].shape[0]
    ans2=(count/(count_non_smoker))*(count_non_smoker/len(df))
    return ans1+ans2

In [401]:
disease('disease_data.csv')

0.07730000000000001

## Determine if the events "voted" and "candidate voted for" are independent in election.csv

In [317]:
df=pd.read_csv('election.csv')

In [437]:
df.head()

   voter_id age_group gender  voted candidate_voted_for
0         1     18-25   Male      1         Candidate A
1         2     26-35   Male      1         Candidate C
2         3       60+   Male      1         Candidate A
3         4     18-25   Male      1         Candidate C
4         5       60+   Male      1         Candidate C

In [318]:
df.head()
candidate = 'Candidate A'

In [338]:
count = df[(df["voted"] == 1) & 
           (df["candidate_voted_for"].isin(['Candidate A', 'Candidate B', 'Candidate C']))].shape[0]

In [ ]:
def voted()

In [339]:
count

737

In [340]:
len(df)

1000

In [341]:
# intersectin
inter=count/len(df)

In [345]:
inter

0.737

In [342]:
# prob of a
p_A=df[(df["voted"]==1)].shape[0]/len(df)

In [346]:
# prob of b
candidate_voted_count = df[df['candidate_voted_for'] == candidate].shape[0]
P_B = candidate_voted_count / total_count
p_A,P_B

(0.737, 0.219)

In [344]:
if(p_A*P_B==inter):
    print("ind")
else:
    print("Dep")

Dep

## Calculate the joint probability of high humidity and rain using the weather.csv dataset.

In [377]:
def humidity(dataset):
    df=pd.read_csv(dataset)
    count=df[(df['humidity']>75) & df['rainy_day']==1].shape[0]
    ans=count/len(df)
    return ans

In [389]:
ans=humidity('weather.csv')
ans

0.16712328767123288

## Compute the marginal probability of high humidity and compare it with the joint probability in weather.csv

In [393]:
def marginal(dataset,join_prob):
    df=pd.read_csv(dataset)
    marhinal_count=df[df['humidity']>75].shape[0]
    ans2=marhinal_count/len(df)
    return ans2==join_prob

In [394]:
ans=marginal('weather.csv',ans)

In [395]:
ans

False

## Use disease_data.csv to find the probability of having the disease given that the person is a smoker using Bayes' theorem.

In [402]:
import pandas as pd

# Load the dataset
data = pd.read_csv('disease_data.csv')

In [403]:
data.head()

   person_id  age  smoker  disease_present
0          1   37       0                0
1          2   37       0                0
2          3   44       0                1
3          4   35       0                0
4          5   49       0                0

In [406]:


N = len(data)
N_D = len(data[data['disease_present'] == 1])
N_S = len(data[data['smoker'] == 1])
N_DS = len(data[(data['disease_present'] == 1) & (data['smoker'] == 1)])

P_D = N_D / N
P_S_given_D = N_DS / N_D
P_S = N_S / N

P_D_given_S = (P_S_given_D * P_D) / P_S

P_D_given_S

0.14600685938265553

## Using weather.csv, compute the conditional probability of a high humidity day given that it rained.

In [407]:
import pandas as pd

# Load the dataset
data = pd.read_csv('weather.csv')

In [408]:
data.head()

   day  temperature  humidity  wind_speed  rainy_day
0    1         36.1        50        17.7          0
1    2         -3.4        60         7.4          0
2    3         11.0        36         0.6          1
3    4         -1.2        23        13.9          0
4    5         36.9        23         8.3          1

In [409]:

total_days = len(data)
days_rained = len(data[data['rainy_day'] == 1])  
high_humidity_and_rained = len(data[(data['humidity'] >75 ) & (data['rainy_day'] == 1)])


P_high_humidity_and_rained = high_humidity_and_rained / total_days
P_rained = days_rained / total_days


P_high_humidity_given_rained = P_high_humidity_and_rained / P_rained

print(f"P(High Humidity | Rained) = {P_high_humidity_given_rained:.4f}")

P(High Humidity | Rained) = 0.3742

## From game_scores.csv, determine the probability of a player scoring between 15 and 25 points.

In [411]:
df=pd.read_csv('game_scores.csv')

In [412]:
df.head()

   player_id  game_id    team  points_scored  assists  rebounds
0   Player 9        1  Team A             12       10        13
1   Player 9        1  Team B             28        9         8
2  Player 10        1  Team B             10        6        10
3   Player 7        1  Team A              9        3        10
4   Player 5        1  Team A              5        6         3

In [420]:
count = df[(df['points_scored'] >= 15) & (df['points_scored'] <= 25)].shape[0]
print(count)

162

In [421]:
count/len(df)

0.27

## Calculate the probability of not voting given that a voter is from a specific gender in election.csv.

In [425]:
import pandas as pd

# Load the dataset
df = pd.read_csv('election.csv')

df.head()

   voter_id age_group gender  voted candidate_voted_for
0         1     18-25   Male      1         Candidate A
1         2     26-35   Male      1         Candidate C
2         3       60+   Male      1         Candidate A
3         4     18-25   Male      1         Candidate C
4         5       60+   Male      1         Candidate C

In [434]:

genders = ['Female', 'Male']


for specific_gender in genders:
    
    gender_specific_df = gender_df[gender_df['gender'] == specific_gender]
    total_voters_specific_gender = len(gender_specific_df)
    non_voters_specific_gender = len(gender_specific_df[gender_specific_df['voted'] == 0])

    
    if total_voters_specific_gender > 0:
        probability_not_voting_specific_gender = non_voters_specific_gender / total_voters_specific_gender
    else:
        probability_not_voting_specific_gender = 0

    print(f"Probability of not voting given the voter is {specific_gender}: {probability_not_voting_specific_gender:.4f}")

Probability of not voting given the voter is Female: 0.2914
Probability of not voting given the voter is Male: 0.2588

## Determine the joint probability of a customer being in the '40-50' age group and spending more than $200.

In [439]:
import pandas as pd

df = pd.read_csv('election.csv')


age_group = '40-50'
voted_value = 1 


age_filtered_df = df[df['age_group'] == age_group]


joint_filtered_df = age_filtered_df[age_filtered_df['voted'] == voted_value]

total_customers = len(df)

joint_customers = len(joint_filtered_df)
if total_customers > 0:
    joint_probability = joint_customers / total_customers
else:
    joint_probability = 0

print(f"Joint probability of being in the '{age_group}' age group and having voted: {joint_probability:.4f}")

Joint probability of being in the '40-50' age group and having voted: 0.0000

## Calculate the conditional probability of spending more than $250 given that the customer bought a product with "Tech" in its name.

In [440]:
df=pd.read_csv('customer_purchase.csv')

In [442]:
df.head()

   customer_id age_group      product_bought  loyalty_score  amount_spent
0            1     40-50        Ultra Camera             10        296.39
1            2     50-60       Power Printer             65        477.95
2            3     20-30  NextGen Headphones             99        109.03
3            4     40-50       Elite Printer             64         14.47
4            5     50-60       Power Speaker             88        288.34

In [446]:
count = df[(df['amount_spent'] > 250) & (df['product_bought'] == "Tech")].shape[0]

In [447]:
len(df)

1000

In [451]:
num_spent_more_than_250_and_bought_tech = df[(df['amount_spent'] > 250) & (df['product_bought'].str.contains("Tech"))].shape[0]
num_bought_tech = df[df['product_bought'].str.contains("Tech")].shape[0]
conditional_probability = num_spent_more_than_250_and_bought_tech / num_bought_tech
print("Conditional Probability:", conditional_probability)

Conditional Probability: 0.5196078431372549